.preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .teammates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  