/* .global {
  margin: 0px;
  padding: 0px;
} */

/* .bodyContainer {
  display: flex ;
  justify-content: center;
  width: 100%;
  margin: 30px auto 0px auto;
  padding: 0%;
  flex-direction: row;
}; */


.projectCardsContainer {
  /* display: flex ;
  align-items: flex-start;
  justify-content: start;   
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 8px;
  padding-left: 8%;


};




.noSearchResults {
  padding: 10%;
  width: 100%;
  text-align: center;
}

.dashLogoContainer {
  display: flex;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.btnTextContainer {
  display: flex;
  justify-content: space-evenly;
}

.addProjectBtn {
  background-color: #F9C80E;
  width: 12em;
  height: 2.5em;
  border: none;
  border-radius: 8px;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
}

/* .addBtnText {
  margin-left: 0px;
} */

.addProjectBtn:hover {
  background-color: #d9b407;
} 
.projectLinkStyle {
  text-decoration: none;
  color: inherit;
}

/* .plusIconSpan {
  margin-right: 5px,
} */

@media only screen and (max-width: 700px) {
  /* Add your styles here */
  .dashLogoContainer {
    display: block;
  }
  .btnContainer {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}