@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Montserrat;
  font-weight: 500;
}