.teammate-card {
  background-color: #f0f0f0;
  padding: 10px; 
  margin-bottom: 10px;
  margin-top: 3px;
  transform: translateX(7px);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  width: 90%; 
}

.teammate-info {
  flex: 1;
}

.teammate-info h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.teammate-info p {
  font-size: 14px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px; 
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.skill {
  padding: 5px 10px;
  background-color: #F9C80E;
  color: black;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 12px;
  margin-bottom: 5px; 
}
