.event-container {
  /* display: flex ;
  align-items: flex-start;
  justify-content: start;   
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 8px;
  padding-left: 8%;
};
